.taskGroupsContainer {
    background-color: #F3F3F3;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.taskGroupsContainer .taskGroupNameWrapper .taskGroupName {
    margin-left: 1.125rem;
}

.taskGroupsContainer .taskGroupsNameWrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.useTaskGroupButtonWrapper {
    margin-left: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.useTaskGroupButtonWrapper .useButton {
    font-family: sans-serif;
    background-color: #424242;
    border: 3px #b3b3b3 solid;
    color: white;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

.useTaskGroupButtonWrapper .useButton:hover {
    background-color: #b3b3b3;
    border: 3px white solid;
}

.useTaskGroupButtonWrapper .useButton:active {
    color: #e7e6e6;
}

.useButtonText {
    color: white;
    text-decoration: none;
}

.useButtonText:hover {
    color: white;
    text-decoration: none;
}
