#addTaskModal {
    margin-top: 0;
    position: absolute;
    width: 500px;
    height: 250px;
    left: 230px;
    top: 50px;
    background: #B3B3B3;
    border: 3px solid #b3b3b3;
    overflow-y: hidden;
}

#createTask {
    color: #B3B3B3;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
}

#name {
    width: 300px;
    height: 41px;
    background: #D9D9D9;
    border-bottom: 2px solid gray;
    margin-top: -35px;
    margin-bottom: 15px;
    margin-left: 140px;
    border-radius: 0;
}

.form-control:focus {
    border-bottom: 2px solid red !important;
}

#errorTask {
    margin-left: -10px;
    margin-top: -73px;
    margin-right: -150px;
}

.title {
    background-color: #B3B3B3;
    margin-left: -60px;
    margin-right: -20px;
    width: 1600px;
    margin-top: -120px;
    margin-bottom: 30px;
}

#title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    margin-left: 70px;
    margin-top: 80px;
}

#submit {
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #0084B4;
    color: white;
    height: 36px;
    margin-left: 2px !important;
    margin-top: -10px !important;
}

#close {
    margin-top: -10px !important;
    color: #0084B4;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    height: 40px;
}

#label-text {
    margin-left: 10px;
    margin-right: 0px;
}

.modal-header {
    border-bottom: 0 none;
    background-color: #B3B3B3;
}

.modal-footer {
    border-top: 0 none;
    background-color: #B3B3B3;
}

.modal-dialog{
    background-color: #B3B3B3;
}

.modal-content {
    background-color: #B3B3B3;
}

.close {
    display: none;
}

