﻿.taskGroupsContainer {
    background-color: #b3b3b3;
    position: absolute;
    top: 8rem;
    width: 1080px;
    height: max-content;
    padding-bottom: 10vh;
    margin-bottom: 70px;
    background-color: #424242 !important;
}
.taskGroupsContainers{
    margin-top: 30px;
    /*margin-left: -950px;*/
    font-size: 20px;
    margin-right: 10px;
    text-align: left;
}
.taskGroupsListHeaderWrapper {
    background-color: #424242;
    color: white;
    margin-top: 20px;
    height: max-content;
}

.taskGroupsListHeader {
    margin-top: -2rem;
    font-weight: 700;
    font-size: 50px;
}

.createNewTaskGroupButtonWrapper {
    margin-top: -2.8rem;
    margin-bottom: 0.8125rem;
    margin-left: 1rem;
}
