﻿.taskGroupsContainer {
    background-color: #b3b3b3;
    position: absolute;
    top: 8rem;
    width: 1080px;
    height: max-content;
    padding-bottom: 10vh;
    margin-bottom: 70px;
    background-color: red !important;
}

.taskGroupsListHeaderWrapper {
    background-color: blue;
    color: white;
    margin-top: 20px;
    height: max-content;
}

.taskGroupsListHeader {
    padding-top: 0.55rem;
    font-weight: 700;
    font-size: 33px;
}

.taskGroupsListEditButton {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 52.3rem;
    color: #0080ae;
}

.createNewTaskGroupButtonWrapper {
    margin-top: -2.8rem;
    margin-bottom: 0.8125rem;
    margin-left: 1rem;
}
