a.navbar-brand {
    margin-left: 9%;

}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

#navigation-content {
    background-color: black !important;
    left: 0px;
    right: 0px;
    height: 100px;
}

.logo-img {
    margin-right: 10px;
    margin-top: -10.5%;
}

#btn-login:hover {
    background-color: #D4B170;
    color: black;
}

#btn-login {
    margin-top: 5%;
    bottom: 0px;
}

#btn-groups {
    position: absolute;
    bottom: 0px;
    margin-left: 9%;
    margin-right: 4px;
}

#btn-groups:hover {
    background-color: #D4B170;
    color: black;
}

#brand {
    font-size: 35px;
    color: #424242;
    
}
