/*#line {
    height: 5px;
    border-width: 0;
    color: black;
    background-color: black;
}

::selection {
    color: #D4B170;
    background-color: white;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

#navigation-content {
    background-color: black !important;
    position: absolute;
    height: auto;
    left: 0px;
    right: 0px;
}

.logo-img {*/
    /*margin-left: -30%;*/
    /*margin-right: 10px;
}

#btn-login:hover {
    background-color: #D4B170;
    color: black;
}

#btn-login {
    position: absolute;
    bottom: 0px;
}

#btn-groups {
    position: absolute;
    bottom: 0px;
    margin-left: 19%;
}

#btn-groups:hover {
    background-color: #D4B170;
    color: black;
}

#btn-notes {
    position: absolute;
    bottom: 0px;
    margin-left: 9.7%;
}

#btn-notes:hover {
    background-color: #D4B170;
    color: black;
}

#brand {
    font-size: 35px;
    margin-right: 20%;
    color: #424242;
}*/

